#cookies
cookies.txt

# Logs
logs/

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.legacy

# Stores VSCode versions used for testing VSCode extensions
.vscode/

# testing scripts
script.js